# configuration file for Go projects
config.yml

# Binaries for programs and plugins

*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Local configuration files
*.local

# IDEs and editors
# JetBrains IDEs
.idea/
# Visual Studio Code
.vscode/
# Visual Studio Code workspace
.code-workspace

# MACOS
# macOS Finder directory attributes
.DS_Store
# macOS Finder directory attributes
.AppleDouble
